 main {
    display: contents;
    align-items: center;
    justify-content: center;
 }
 .m-n {
    position: absolute;
    left: 20px;
    height: 7cm;
    width: 7.5cm;
    
  }
  .card img{
    height: 7cm;
    width: 7.5cm;
  }
 .card {
    margin: 15px;
    width: 7.5cm;
    height: 7cm;
    border-radius: 16px;
    overflow: hidden;
    position: relative;
    transition: 0.5s;
    cursor: pointer;
  }
 .card .layer {
    background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 75%;
    opacity:0;
    transition: 0.3s;
  }
 .card .info {
    position: absolute;
    bottom: -50%;
    padding: 15px;
    opacity: 0;
    transition: 0.5s bottom, 1.75s opacity;
  }
 .info p {
    font-size: 10px;
    margin-top: 3px;
  }
 .info button {
    background: #490CCC;
    color: white;
    border: none;
    padding: 8px 12px;
    font-weight: bold;
    font-size: 10px;
    border-radius: 8px;
    margin-top: 8px;
  }
 .card:hover,
 .card:hover img,
 .card:hover layer {
    transform: scale(1.1);
  }
 .card:hover > .layer {
    opacity: 1;
  }

  h2{
    color: white;
  }
 .card:hover > .info {
    bottom: 0;
    opacity: 1;
  }
 .card-group:hover > .card:not(:hover) {
    filter: blur(5px);
  }

  main p{
    font-size: 13px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;

  }
main font{
    position:relative;
    display: flex;
    top: -10rem;
    margin-left: -5rem;
    left: 400px;
    color: white;
    font-size: 11px;
    align-items: left;
    text-align: left;
}
.bt button[type="submit"]{
    position: relative;
    display: flex;
    top: -5rem;
    margin-bottom: -4rem;
    left: 20rem;
    background: #490CCC;
    color: white;
    border: none;
    padding: 8px 12px;
    font-weight: bold;
    font-size: 10px;
    border-radius: 8px;
    margin-top: 8px;
}
hr{
    position: relative;
    width: 1000px;
    border-color: #535353;
  }

@media (max-width: 768px){
    .m-n{
    align-items: center;
    justify-content: center;
    height: 4cm;
    width: 4.5cm;
    left: -4px;
  }
  .card img{
    height: 4cm;
    width: 4.5cm;
  }
 .card {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px;
    margin-bottom: 4rem;
    position: relative;
    left: 50%;
    width: 4.5cm;
    height: 4cm;
    border-radius: 16px;
    overflow: hidden;
    transition: 0.5s;
    cursor: pointer;
  }
 .card .layer {
    background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 75%;
    opacity:0;
    transition: 0.3s;
  }
 .card .info {
    position: absolute;
    bottom: -50%;
    padding: 15px;
    opacity: 0;
    transition: 0.5s bottom, 1.75s opacity;
  }
 .info p {
    font-size: 7px;
    margin-top: 3px;
  }
 .info button {
    background: #490CCC;
    color: white;
    border: none;
    padding: 8px 12px;
    font-weight: bold;
    font-size: 7px;
    border-radius: 8px;
    margin-top: 8px;
  }
 .card:hover,
 .card:hover img,
 .card:hover layer {
    transform: scale(1.1);
  }
 .card:hover > .layer {
    opacity: 1;
  }

  h2{
    color: white;
  }
 .card:hover > .info {
    bottom: 0;
    opacity: 1;
  }
 .card-group:hover > .card:not(:hover) {
    filter: blur(5px);
  }

  main p{
    font-size: 10px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;

  }
main font{
    position: relative;
    align-items: center;
    text-align: center;
    left: 140px;
    top: -2rem;
    bottom: 1rem;
    color: white;
    font-size: 10px;
}
.bt button[type="submit"]{
    position: relative;
    left: 150px;
    top: -1rem;
    margin-bottom: 0rem;
    background: #490CCC;
    color: white;
    border: none;
    padding: 8px 12px;
    font-weight: bold;
    font-size: 10px;
    border-radius: 8px;
    margin-top: 8px;
}
hr{
    position: relative;
    width: 0;
    border-color: #535353;
  }

}